.pricing{
width: 100%;
background: #f5f5f5;
}
.pricing__header {
padding-top: 80px;
}
.pricing__header_title {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;
text-transform: uppercase;
color: #212121;
padding-bottom: 34px;
}
.pricing__header_line {
margin: auto;
width: 64px;
height: 2px;
background: #E72424;
}
.pricing__header_text {
padding-top: 34px;
margin: auto;
text-align: center;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #86878B;
}
.pricing__content {
display: flex;
justify-content: space-around;
margin-top: 63px;
height:100%;
padding-bottom:82px;
flex-wrap: wrap;
}
.pricing__content_column {
width: 340px;
height: 100%;
}
.pricing__content_column_list_background_black{
background:#333333;
}
.pricing__content_column_list_background_black:hover{
background:#D98943;
}
.pricing__content_column_list{
margin:0;
padding:0;
display: block;
list-style-type: none;
}
.pricing__content_column_list_type_font{
padding:15px 0px 8px 0px;
border-bottom: 3.38px solid #f5f5f5;
font-family: Open Sans;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
text-align: center;
color: #FFFFFF;
}
.pricing__content_column_list_price_font{
padding:26px 0px 33px 0px;
border-bottom: 3.38px solid #f5f5f5;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 41px;
text-align: center;
color: #FFFFFF;
}
.pricing__content_column_list_action_font{
padding:17px 0px 14px 0px;
border-bottom: 3.38px solid #f5f5f5;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
text-align: center;
color: rgba(255, 255, 255, 0.5);
}
.pricing__content_column_list_memory_font{
padding: 10px 0px 11px 0px;
border-bottom: 3.38px solid #f5f5f5;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;
color: #86878B;
}
.pricing__content_column_list_background_white{
background: #FFFFFF;
}
@media screen and (max-width: 1124px){
    .pricing__content_column{
        padding: 10px;
    }
}
@media screen and (max-width: 820px){
    .pricing__content_column{
        padding-bottom: 30px;
    }
}
