@import url("awesome.css");
@import url("pricing.css");
@import url("customer.css");
@import url("axit.css");
@import url("contact_form.css");
@import url("social_media.css");
@import url("tab.css");


.container{
margin: auto;
max-width:1170px;
padding: 0px 15px;
}
*{
margin: 0px;
padding: 0px;
}

