.tab__content{
padding-top:125px;
display: flex;
flex-direction: row;
margin-bottom: 205px;
overflow: hidden;
}
.tab__content__list{
display:flex;
flex-direction: column;
vertical-align: middle;
flex-wrap: wrap;
}
.tab__content__text{
margin-left:118px;
position: relative;
}
.tab__content__list_button{
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
padding:45px 35px;
background-color:  #333333;
border-radius: 4px;
border:none;
}
.tab__content_margin{
margin-bottom:10px;
}
.tab__content__list_colored_button{
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
padding:45px 35px;
background-color: #EC7979;
border-radius: 4px;
border:none;
}
.tab__content__list_colored_button:hover{
background-color: rgba(131, 130, 130, 0.918);
cursor: pointer;
}
.tab__content__list_button:hover{
background-color:#EC7979;
cursor: pointer;
}
.tab__content__pic{
background-image: url('/img/image9.png');
width:320px;
height:253px;
/*position: absolute;*/
top:0px;
top:110px;
left:852px;
}
.tab__content__text_header{
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;
text-transform: uppercase;
color: #000000;
margin-bottom:58px;
}
.tab__content__text_begin{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
color: #86878B;
width:572px;
padding-bottom:25px;
}
.tab__content__text_end{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
color: #86878B;
width:572px;
padding-bottom:89px;
}
.tab__content__text_button{
background: #EC7979;
border: 1px solid #FFFFFF;
cursor: pointer;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
padding:11px 25px;
border-radius: 4px;
}
.tab__content__text_button:hover{
background-color:#86878B;
cursor: pointer;
}

.tab__content__list_pic_at_media{
background-image: url('/img/image9.png');
width:320px;
height:253px;
/*position: absolute;*/
top:0px;
top:110px;
left:852px;     
display: none;
}

@media screen and (max-width: 1200px){
    .tab__content__pic{
        transform: scale(0.75);
        position: absolute;
        left:0px;
        top:0px;
        left:70%;
        top:30%;
    }
    .tab__content{
        margin:auto;
        width:75%;

    }
@media screen and (max-width: 1124px){
    .tab__content__list{
        display: block;
        transform: scale(0.75);
        top:0px;
        margin:0px;
        height:100%;
        
    }
    .tab__content{
        flex-direction: row-reverse;
        justify-content:center;
        position: relative;
        width:100%;
    
    }
    .tab__content__pic{
        display:none;

    }
    .tab__content_margin{
        margin:0px;
    }
    .tab__content__text{
        margin-left:0px;
    }
    .tab__content__list_pic_at_media{
        display: block;
        margin: 20px auto 0px auto;
        
    }
}
@media screen and (max-width: 1000px){
    .tab__content__text_begin{
        width:400px;
    }
    .tab__content__text_end{
        width:400px;
    }
    .tab__content{
        justify-content: center;
    }
}   
@media screen and (max-width: 820px){
    .tab__content{
        justify-content: space-between;
    }
    .tab__content__list{
        display:flex;
        margin:auto;
        width:auto;
        flex-direction: column;
    }
    .tab__content__list_button{
        margin: 5px 0px;
    }
    .tab__content__list_colored_button{
        margin: 5px 0px;
    }
    .tab__content__text{
        padding-left: 50px;
    }
    .tab__content__list_pic_at_media{
        display: none;
    }
}
@media screen and (max-width: 550px){
    .tab__content__list{
        margin:auto;
        flex-direction: row;
    }   
    .tab__content{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .tab__content__text_button{
        width: 100%;

    }
    .tab__content__text{
        padding: 0px;
    }

    .awesome__h_title{
        font-size: 30px;
        margin:auto;
    }
    .axure__footer_button{
        width:100%;
    }
    .contact__footer_button{
        width:100%;
    }
    .tab__content__list_button{
        margin: 0px 10px;
    }

    .tab__content__list_colored_button{
        margin: 0px 10px;
    }
    
}
}